* {
  width: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  font-family: 'Lato', sans-serif;
}

.display-none,
.breaklineabout {
  display: none;
}

.principal-info,
.principal-info-about {
  background-image: url(images/gray-curve-background.jpg);
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-content,
.main-content-about {
  width: 90%;
}

.fa-solid.fa-bars {
  color: #545454;
  width: 2rem;
  height: 2rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.hello-concert,
.hello-concert-about {
  color: #f65d14;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5rem;
  font-family: 'Lato', sans-serif;
}

.concert-title,
.concert-title-about {
  color: #f65d14;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 1000;
  font-size: 3rem;
  letter-spacing: 0.07rem;
  margin-bottom: 3rem;
}

.concert-paragraph,
.concert-paragraph-about {
  color: #525252;
  width: 90%;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  font-style: normal;
  font-weight: 300;
  font-size: 1.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border: 2px solid #fff;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.mobile-nav-options {
  background-color: #fff;
  list-style: none;
  height: 100vh;
  font-size: 3rem;
  text-decoration: none;
  gap: 1rem;
}

.link-menu,
.fa-xmark {
  color: #f65d14;
  list-style: none;
  font-size: 3rem;
  text-decoration: none;
}

.date-and-time {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-weight: 1000;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.place {
  font-family: 'Lato', sans-serif;
  color: #555;
  font-weight: 500;
  font-size: 1.3rem;
  margin-bottom: 4rem;
}

.main-program {
  background-color: #282a33;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3rem;
  margin-bottom: 2rem;
}

.main-program-title {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.75rem;
  width: 40%;
  color: #e5e6ec;
}

.main-container-cards {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-main-container {
  color: #f65d14;
  font-size: 1.3rem;
  font-weight: 300;
}

.description-main-container {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 200;
}

.breakline {
  width: 10%;
  border: 1.5px solid #f65d14;
  margin-bottom: 2rem;
}

.main-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  flex-direction: row;
  background-color: rgba(256, 256, 256, 0.3);
  justify-items: center;
  margin-bottom: 1.5rem;
  gap: 1rem;
}

.main-container-icon {
  text-align: center;
  justify-items: center;
  color: #fff;
}

.join-link {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  border: 2px solid #f65d14;
  background-color: #f65d14;
  color: #fff;
  width: 80%;
  font-weight: 500;
  font-size: 1.8rem;
}

.featured-speakers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-items: center;
}

.speakers {
  width: 40%;
  text-align: center;
}

.speakers-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  width: 90%;
  margin-bottom: 2rem;
}

.artist-card {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.artistimage {
  width: 90%;
  height: 100%;
  padding-top: 10%;
  padding-left: 5%;
}

.artistname {
  font-size: 1.5rem;
}

.artistype {
  color: #f65d14;
  font-size: 1.3rem;
}

.breakspeaker {
  width: 2rem;
  display: inline-block;
  margin-left: 0.01%;
}

.textdiv {
  display: flex;
  width: 170%;
  flex-direction: column;
}

.more-button {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 90%;
  border: 2px solid #e7e7e7;
  border-radius: 2px;
}

.more-button span {
  text-align: left;
  padding-left: 0.5rem;
  color: #f65d14;
  font-size: 1.5rem;
}

.more-button p {
  text-align: right;
  padding-right: 0.5rem;
  font-size: 1.3rem;
}

/* About Page */

.concert-paragraph-about {
  background-color: #fff;
  width: 100%;
  margin-bottom: 3rem;
}

.main-content-about p {
  justify-content: center;
}

.contact-about {
  text-align: center;
  font-size: 1rem;
  width: 100%;
}

.email-about {
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  text-decoration: underline;
  margin-bottom: 4rem;
}

.main-section-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.logo-about {
  width: 90%;
  text-align: center;
  padding-top: 3rem;
}

.past-global-about {
  width: 90%;
  text-align: center;
}

.main-section-about-title {
  font-size: 1.8rem;
}

.about-logo-paragraph {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.about-logo {
  width: 100%;
  height: 20rem;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  border: 2px solid #eaeaea;
  margin-bottom: 2rem;
}

.breaklong {
  margin-bottom: 3rem;
}

.past-global-title {
  font-size: 1.8rem;
}

.past-paragraph-about {
  font-weight: 500;
  margin-bottom: 3rem;
  color: #7d7d7d;
}

.guadalajara-edition {
  background-image: url(images/guadalajara-gen-mex.jpg);
  background-color: #f65d14;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 2rem;
}

.monterrey-edition {
  background-image: url(images/monterrey-gen-mex.jpeg);
  background-color: #f65d14;
  background-repeat: no-repeat;
  background-size: cover;
  height: 18rem;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 3rem;
}

.edition-description,
.edition-year {
  color: #fff;
  font-size: 1.8rem;
}

.partners-about {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #414246;
}

.partner-title {
  text-align: center;
  padding-top: 1rem;
  color: #fff;
  font-size: 2rem;
}

.partner-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.partner-image {
  width: 30%;
  height: 5rem;
  gap: 1rem;
}

.footer-about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  width: 100%;
  margin-bottom: 3rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.footer-logo-about {
  width: 7rem;
  height: 5rem;
}

.license {
  padding-left: 3rem;
  height: 5rem;
  width: 23rem;
  padding-top: 1.2rem;
}

/* desktop version */

@media screen and (min-width: 768px) {
  .display-none {
    display: flex;
  }

  .social-media-desktop,
  .social-media-desktop-about {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    background-color: #3e3e3e;
    font-size: 1rem;
    color: #fff;
    padding-right: 10rem;
    height: 3rem;
  }

  .first-container-desktop,
  .first-container-desktop-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    width: 30rem;
    float: right;
  }

  .nav-bar,
  .nav-bar-about {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .nav-bar-container {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    width: 85%;
  }

  .logo {
    height: 7rem;
    margin-top: 0.5rem;
    width: 7rem;
  }

  .nav-options,
  .nav-options-about {
    display: flex;
    width: 80%;
    flex-direction: row;
    float: right;
    list-style: none;
  }

  .link-menu,
  .link-menu-about {
    color: #7d7d7d;
    text-decoration: none;
    font-size: 1.3rem;
  }

  .mobile-bar,
  .mobile-bar-about,
  .fa-solid.fa-bars,
  .join-link,
  .more-button,
  .hello-concert-about {
    display: none;
  }

  #gmcampaign {
    color: #f65d14;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: 3px solid #f65d14;
  }

  .main-content {
    width: 80%;
    padding-top: 5rem;
  }

  .hello-concert,
  .hello-concert-about {
    color: #f65d14;
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    font-family: 'Lato', sans-serif;
  }

  .concert-title,
  .concert-title-about {
    color: #f65d14;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 1000;
    font-size: 5rem;
    letter-spacing: 0.07rem;
    margin-bottom: 3rem;
  }

  .concert-paragraph,
  .concert-paragraph-about {
    width: 60%;
    margin-bottom: 4rem;
  }

  .breakline {
    width: 3%;
    border: 1.5px solid #f65d14;
    margin-bottom: 2rem;
  }

  .main-program {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 3rem;
  }

  .main-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    padding-top: 1rem;
  }

  .main-container-cards {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-items: center;
    margin-bottom: 1.5rem;
    gap: 1rem;
  }

  .see-more {
    width: 40%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 6rem;
  }

  .title-main-container {
    color: #f65d14;
    font-size: 1.3rem;
    font-weight: 300;
    margin-bottom: 0.5rem;
  }

  .description-main-container {
    color: #fff;
    height: 6rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 1.1rem;
    font-weight: 200;
  }

  .speakers {
    font-size: 2rem;
  }

  .partners {
    width: 100%;
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #414246;
    margin-bottom: 5rem;
  }

  .partner-title {
    text-align: center;
    padding-top: 1rem;
    color: #7d7d7d;
    font-size: 3rem;
  }

  .partner-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-bottom: 5rem;
  }

  #airbnb {
    padding-top: 1rem;
  }

  .partner-image {
    width: 18%;
    gap: 1rem;
  }

  .footer-project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .footer-container-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .footer-logo {
    width: 10rem;
    height: 8rem;
  }

  .license {
    height: 3rem;
    font-size: 1.3rem;
    width: 32rem;
    padding-top: 1.2rem;
  }

  .main-content-about {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .main-section-about-title {
    color: #3e3e3e;
  }

  .breaklineabout {
    border: 2px solid #f65d14;
    width: 3.5%;
  }

  .concert-paragraph-about {
    font-size: 1.3rem;
    text-justify: auto;
  }

  .email-about {
    margin-bottom: 6rem;
  }

  .about-logo {
    width: 60%;
    height: 30rem;
  }

  .past-global-title {
    color: #3e3e3e;
  }

  .edition-cards {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .partners-about {
    display: none;
  }

  .footer-about {
    display: flex;
    background-color: #2e2e2e;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    height: 20rem;
    width: 100%;
    margin-bottom: 3rem;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .footer-logo-about {
    width: 10rem;
    height: 8rem;
  }

  .license-about {
    height: 5rem;
    font-size: 1.5rem;
    width: 32rem;
    color: #fff;
    padding-top: 1.2rem;
  }

  .speakers-container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: center;
    gap: 2rem;
    width: 90%;
    margin-bottom: 7rem;
  }
}
