* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section[id] {
  scroll-margin-top: 2rem;
}

.welcome-container {
  width: 100%;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.75rem;
  display: flex;
  color: #28352f;
}

.welcome-container nav {
  padding: 0.6rem 1.5rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.welcome-container .menuicon {
  text-align: right;
}

.desktop-social-container,
.desktop-contact-container,
.xicon,
.weboptions {
  display: none;
}

.greetingsandsocial {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url(images/backgroundimage.png);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 70px 1.5rem 1.5rem 1.5rem;
}

.weboptions {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  list-style-type: none;
  padding-top: 45rem;
  padding-bottom: 25rem;
  width: 100%;
  box-shadow: 0 10rem 10rem rgba(37, 47, 137, 0.08);
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.75rem;
  font-style: normal;
  gap: 1rem;
  margin-left: -1.4rem;
  padding-left: 2rem;
  left: -400px;
}

.portfolio,
.about-web,
.contact-web {
  width: 7rem;
  height: 1.5rem;
  text-decoration: none;
  color: #3a4a42;
}

.xicon {
  display: flex;
  float: right;
  margin-top: -14rem;
  margin-right: 2rem;
}

.active {
  left: 1.35rem;
}

.text-intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disabled {
  width: 2rem;
  height: 2rem;
  order: 4;
}

.intro1 {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
  flex: none;
  text-align: center;
}

.intro1 span {
  color: #36b37e;
}

.intromessage {
  width: 100%;
  padding: 0 1.25rem;
}

.intromessage p {
  margin-top: 2.5rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.75rem;
  text-align: center;
  color: #172b4d;
}

.icons {
  margin: 58px 102.42px;
  width: 10.1rem;
}

.social-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.social-container li {
  list-style: none;
}

.social-container i {
  width: 1.25rem;
  height: 1.25rem;
}

.intro-btn {
  margin: 6px 1.5rem;
  width: 12rem;
  border: none;
  background: white;
  cursor: pointer;
}

.intro-btn img {
  width: 2.5rem;
  height: 2.5rem;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.recent-works {
  width: 20rem;
  height: 6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
  color: #172b4d;
  order: 0;
}

.fa-horizontal-rule {
  width: 3rem;
  height: 4px;
  background: #36b37e;
  border-radius: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 4rem;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1.5rem;
  border-radius: 0.5rem;
  justify-items: center;
}

.project1,
.project2,
.project3,
.project4,
.project5,
.project6 {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-align: center;
  border: 1px solid #d0d9d4;
  border-radius: 1%;
}

.projectimages {
  width: 100%;
  height: 16rem;
  transition: all 1s ease-in-out;
  margin-bottom: 1rem;
}

.projectimages:hover,
.projectimages:focus {
  transform: scale(1.05);
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
}

.text-title {
  width: 18.5rem;
  height: 2rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #3a4a42;
}

.technologies {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  letter-spacing: 0.03em;
  color: #3a4a42;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  margin-top: 1rem;
  width: 19rem;
  height: 2rem;
  padding: 0;
  margin-bottom: 1rem;
}

.technologies li {
  background: #ebf0ee;
  border-radius: 4px;
  padding: 8px 10px;
  margin: 4px;
  font-family: 'Inter', sans-serif;
}

.projectbutton {
  align-items: center;
  font-family: 'Inter', sans-serif;
  margin-top: 2.25rem;
  letter-spacing: 0.03em;
  width: 11.5rem;
  height: 3rem;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  margin-top: 4rem;
}

.aboutme {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 22rem;
  height: 21rem;
  margin-bottom: 4rem;
  background: url(images/aboutmemobile2.png) top right no-repeat, url(images/aboutmemobile1.png) bottom left no-repeat;
}

.titleaboutme {
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  margin-bottom: 1.5rem;
  width: 22rem;
  height: 3rem;
  color: #172b4d;
}

.aboutmeparagraph {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  width: 22rem;
  height: 12rem;
  text-align: center;
  color: #42526e;
  margin-bottom: 3.2rem;
}

.projectbuttonresume {
  align-items: center;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.05em;
  padding: 0.75rem;
  width: 12.5rem;
  height: 3.1rem;
  bottom: 1rem;
  font-weight: 550;
  font-size: 1.25rem;
  position: relative;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}

.after-resume {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  gap: 1.5rem;
  margin-bottom: 3.75rem;
}

.languages,
.frameworks,
.skills {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  background: #ebf0ee;
  border: 1px solid #c1c7d0;
  border-radius: 0.5rem;
  width: 20.5rem;
  height: 22rem;
}

.iconlanguages,
.preferredframeworks,
.myskills {
  width: 5rem;
  height: 4rem;
  background: #ebf0ee;
  margin-bottom: 3rem;
}

.titlelanguages,
.titleframeworks,
.titleekills {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  color: #344563;
  margin-bottom: 1.5rem;
}

.languagestechs,
.techframeworks,
.typeofSkills {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  letter-spacing: 0.03em;
  color: #36b37e;
  font-weight: 600;
  font-size: 0.75rem;
  line-height: 1rem;
  justify-content: space-around;
  width: 19rem;
  height: 2.5rem;
}

.languages li,
.techframeworks li,
.othertechframeworks li,
.typeofSkills li,
.othertypeofskills li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.5rem;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;
  padding: 0.75rem;
  width: fit-content;
}

.contactandform {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.contactparagraph {
  width: 20rem;
  height: 22.7rem;
  text-align: center;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
  margin-bottom: 3.75rem;
}

.sendamessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  list-style: none;
  margin-bottom: 2.75rem;
}

.sendamessage li {
  margin-bottom: 1.5rem;
}

#name,
#email {
  width: 20rem;
  height: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #6b778c;
  padding: 1rem;
  text-transform: none;
  border: 1px solid #d0d9d4;
  border-radius: 4px;
}

#message {
  width: 20rem;
  height: 7.5rem;
  border: 1px solid #60c095;
  border-radius: 4px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #091e42;
  padding: 15px;
  text-transform: none;
}

.get-in-button {
  font-family: 'Inter', sans-serif;
  letter-spacing: 0.03em;
  padding: 0.75rem;
  width: 9rem;
  height: 3rem;
  font-weight: 550;
  font-size: 1.1rem;
  position: relative;
  border: none;
  background: #36b37f;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  justify-content: center;
}

.get-in-button:hover,
.projectbutton:hover,
.projectbuttonresume:hover {
  background: #62e2ad;
}

.get-in-button:active,
.projectbutton:active,
.projectbuttonresume:active {
  background: #045f38;
}

.finalsection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.icons2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contact-container {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  width: 11rem;
  margin-bottom: 1.5rem;
}

.emailto {
  width: 24rem;
  height: 21rem;
  text-align: center;
  color: #42526e;
}

.my-email {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 2rem;
  color: #42526e;
  text-decoration: none;
}

#enddash {
  width: 8rem;
  height: 0.5rem;
  background: black;
  border-radius: 1.5rem;
  order: 4;
}

#emailerror {
  display: none;
}

#emailerror.activerror {
  display: flex;
  background: #ff6163;
  font-family: 'Inter', sans-serif;
  color: #fff;
  border-radius: 4px;
  padding: 0.5rem;
}

.get-in-button.inactive {
  background-color: #ebeff4;
}

.aelement {
  text-decoration: none;
  color: #fff;
}

@media screen and (min-width: 768px) {
  .welcome,
  .menuicon,
  .contact-container,
  .social-container,
  .xicon {
    display: none;
  }

  .welcome-container {
    display: flex;
    text-align: center;
    justify-content: center;
    animation-duration: 2s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      margin-left: 100%;
    }

    to {
      margin-left: 0%;
    }
  }

  .welcome-container nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .weboptions {
    position: relative;
    display: flex;
    flex-direction: row;
    list-style: none;
    padding-top: 0.01rem;
    font-family: 'Inter', sans-serif;
    justify-content: space-around;
    width: 16rem;
    padding-bottom: 0.01rem;
    box-shadow: none;
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 900;
    color: #172b4d;
    margin-bottom: 10rem;
    margin-left: 0.01rem;
    padding-left: 0.01rem;
    left: auto;
  }

  .portfolio,
  .about-web,
  .contact-web {
    text-decoration: none;
    color: #172b4d;
  }

  body {
    background-image: url(images/desktop-background.png);
    background-repeat: no-repeat;
    background-position-x: center;
  }

  .greetingsandsocial {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: initial;
    width: 100%;
    margin-bottom: 25rem;
  }

  .intro1 {
    width: 57.5rem;
    height: 7rem;
    letter-spacing: 0.37px;
    font-family: 'Inter', sans-serif;
    font-weight: 800;
    font-size: 3rem;
    line-height: 3.75rem;
    color: #172b4d;
    margin-bottom: 1.5rem;
  }

  .intromessage {
    width: 57.5rem;
    height: 8rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    color: #172b4d;
  }

  .desktop-social-container {
    display: flex;
    width: 11.25rem;
    height: 2.3rem;
    margin-bottom: 2rem;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
  }

  .intro-btn {
    align-items: center;
    justify-content: center;
  }

  .disabled {
    width: 2rem;
    height: 2rem;
  }

  .recent {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12rem;
  }

  .recent-works {
    width: 31rem;
    font-size: 2.5rem;
    height: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    margin-bottom: 3.25rem;
  }

  .fa-horizontal-rule,
  #separator {
    display: none;
  }

  .project-container {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(2, 29.7rem);
    justify-content: center;
    gap: 1.5rem;
    width: 100%;
    border-radius: 0.5rem;
  }

  .project1,
  .project2,
  .project3,
  .project4,
  .project5,
  .project6 {
    border: 1px solid #d0d9d4;
    border-radius: 1%;
  }

  .projectimages {
    width: 100%;
    height: 15.75rem;
  }

  .about {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 41rem;
    background: url(images/aboutme1desktop.png) left top no-repeat, url(images/aboutme2desktop.png) right top no-repeat;
    margin-bottom: 10rem;
  }

  .aboutme {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 57.5rem;
    height: 15rem;
    margin-bottom: 3.25rem;
    background: none;
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .titleaboutme {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5rem;
    width: 28rem;
    height: 3rem;
    line-height: 2.5rem;
    color: #172b4d;
  }
  
  .aboutmeparagraph {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 2rem;
    width: 57.5rem;
    height: 6rem;
    text-align: center;
    color: #42526e;
  }
  
  .projectbuttonresume {
    align-items: center;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.03rem;
    padding: 0.75rem;
    width: 10rem;
    height: 2.75rem;
    font-weight: 550;
    font-size: 1rem;
    position: relative;
    border: none;
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .after-resume {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 22.5rem;
    gap: 1.5rem;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-bottom: 10rem;
  }
  
  .languages,
  .frameworks,
  .skills {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background: #ebf0ee;
    border: 1px solid #c1c7d0;
    border-radius: 0.5rem;
    width: 20.5rem;
    height: 22rem;
    padding-top: 2.5rem;
  }
  
  .contactandform {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50rem;
    margin-bottom: 9rem;
    background: url(images/contactform1desktop.png) left bottom no-repeat, url(images/contactform2desktop.png) right bottom no-repeat;
  }
  
  .contactform {
    flex-direction: column;
    width: 42.75rem;
    height: 35rem;
  }
  
  .contactparagraph {
    width: 29rem;
    height: 28rem;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 2rem;
    font-weight: 700;
    line-height: 3.25rem;
    margin-bottom: 3.25rem;
    justify-content: center;
    background: url(images/contactparagraphdesktop.png) bottom no-repeat;
  }
  
  .sendamessage {
    width: 40.62rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
    list-style: none;
  }
  
  #name,
  #email,
  #message {
    width: 40.62rem;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #6b778c;
    padding: 1rem;
    text-transform: none;
    border: 1px solid #d0d9d4;
    border-radius: 4px;
  }
  
  #message {
    border: #60c095 1px solid;
  }
  
  .get-in-button {
    font-family: 'Inter', sans-serif;
    letter-spacing: 0.05em;
    padding: 0.75rem;
    gap: 10px;
    width: 8rem;
    height: 3rem;
    font-weight: 550;
    font-size: 1rem;
    line-height: 1.5rem;
    border: none;
    background: #36b37f;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    float: left;
  }
  
  .finalsection {
    height: 5rem;
  }
  
  .desktop-contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    height: 60px;
    text-align: center;
    list-style-type: none;
  }
  
  .desktop-contact-container li {
    list-style: none;
  }
  
  .desktop-contact-container i {
    width: 1.25rem;
    height: 1.25rem;
  }
  
  .desktop-social-container li {
    list-style: none;
  }
  
  .desktop-social-container i {
    width: 1.25rem;
    height: 1.25rem;
  }
}  